* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "basefont-regular";
}
@font-face {
  font-family: "basefont-regular";
  src: local("basefont-regular"),
    url("./assets/fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "basefont-medium";
  src: local("basefont-medium"),
    url("./assets/fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "basefont-bold";
  src: local("basefont-bold"),
    url("./assets/fonts/CircularStd-Bold.otf") format("opentype");
}

body
{
  min-height: 100%;
  background-color: #17202e;
}

.flights {
  background-position: center;
  background-size: cover;
}

.weather-page {
  background-position: center;
  background-size: cover;
}

.planes {
  background-position: center;
  background-size: cover;
}
