* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "basefont-regular";
}
@font-face {
  font-family: "basefont-regular";
  src: local("basefont-regular"),
    url("./assets/fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "basefont-medium";
  src: local("basefont-medium"),
    url("./assets/fonts/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "basefont-bold";
  src: local("basefont-bold"),
    url("./assets/fonts/CircularStd-Bold.otf") format("opentype");
}

.home {
  background-position: center;
  background-size: cover;
  background-color: #17202e;
}

.weather-page {
  background-position: center;
  background-size: cover;
  background-color: #17202e;
}

.sign-up {
  /* background-image: url("./assets/images/img-7.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}